* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
:root {
  --white: #ffffff;
  --black: #353535;
}

/* :::: COMMON CSS END :::: */

/* :::: NAV START :::: */

nav {
  background-color: #f7f1e3;
  width: 100%;
}
nav.bg_olive {
  background-color: rgb(26, 84, 44);
}
nav.active_bar {
  position: fixed;
  top: 0;
  animation: animate 0.3s linear;
}
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
nav .row {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 17px 0;
}
nav .book {
  color: var(--black);
  font-size: 26px;
  cursor: pointer;
}
nav.bg_olive .book {
  color: var(--white);
}
nav h2 {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
nav.bg_olive h2 {
  color: var(--white);
}
nav input {
  padding: 10px 8px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
}
nav .search {
  position: relative;
}
nav .on_pass {
  padding: 11px 34px 11px 15px;
}
nav .glass {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  position: absolute;
  top: 4px;
  right: 0;
  border: none;
  background-color: transparent;
  font-size: 20px;
}
nav .log_in {
  padding: 5px 15px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: 6px;
  background-color: var(--white);
  color: var(--black);
  border: none;
}
nav .sign_up {
  padding: 5px 15px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 18px;
  border-radius: 6px;
  background-color: #0376b8;
  color: var(--white);
  border: none;
}
nav .user {
  font-size: 26px;
  color: var(--black);
  cursor: pointer;
}
nav.bg_olive .user {
  color: var(--white);
}
nav .daynight {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  border: none;
  overflow: hidden;
}
nav .daynight span {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  display: block;
  background-color: #f7f1e3;
}
nav.bg_olive .daynight span {
  background-color: rgb(26, 84, 44);
}
nav .moon {
  font-size: 26px;
}
nav .sun {
  font-size: 26px;
}
nav.bg_olive .sun {
  color: var(--white);
}
nav .daynight .moon.change {
  margin-top: -40px;
}
body {
  background-color: var(--white);
  color: var(--black);
  height: 5000px;
}
body.swing {
  background-color: #000;
  color: var(--white);
}

/* :::: NAV END :::: */

/* :::: SCROLL START :::: */

.scroll {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: conic-gradient(#30336b, #38ada9);
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #ffffff;
  color: var(--black);
  line-height: 42px;
  text-align: center;
  position: fixed;
  right: 44px;
  bottom: 44px;
}

/* :::: SCROLL END :::: */

/* :::: SIDE MENU START :::: */

#sideMenu {
  background-color: rgba(0, 0, 0, 0.515);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
#sideMenu.active {
  opacity: 1;
  visibility: visible;
}
#sideMenu .sideContents {
  background-color: #f7f1e3;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 400px;
  transform: translateX(-100%);
  transition: 0.5s;
}
#sideMenu.active .sideContents {
  transform: translateX(0);
}
#sideMenu .cross {
  color: var(--black);
  position: absolute;
  top: 30px;
  right: 32px;
  font-size: 24px;
  cursor: pointer;
}
#sideMenu .menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 40px;
}
#sideMenu a {
  text-decoration: none;
  padding-bottom: 30px;
  display: inline-block;
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
#sideMenu .beside {
  display: inline-block;
  font-size: 24px;
  padding-right: 10px;
  color: var(--black);
}

/* :::: SIDE MENU END :::: */

/* :::: LOG IN START :::: */

.loginBox {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 99999999999;
  border-radius: 40%;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.6s;
}
.loginBox.loginBox_active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  transition: all ease 0.6s;
}
.loginBox .login {
  border: 1px solid var(--black);
  width: 520px;
  height: 520px;
  background: url("../../Assets/Images/LogIn_Bg.jpg");
  color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginBox .login form {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(60%);
  flex-direction: column;
  display: flex;
  gap: 5px;
  position: relative;
}
.loginBox .login form .loginEye {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  color: #000;
  right: 11%;
  top: 53%;
  box-shadow: none;
  cursor: pointer;
}
.loginBox .login form h1 {
  font-weight: normal;
  font-size: 28px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
.loginBox .login form label {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 10px;
}
.loginBox .login form input {
  background: rgba(255, 255, 255, 0.5);
  height: 48px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0px 40px 0 20px;
  border: none;
  margin-bottom: 20px;
  color: #000;
}
.loginBox .login form input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.loginBox .login form button {
  background: rgb(7, 95, 35);
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  border: none;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: var(--white);
}
.loginBox .login form p {
  font-size: 16px;
  color: var(--white);
  text-align: center;
}
.loginBox .loginClose {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: rgb(7, 95, 35);
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--white);
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  transition: 0.4s;
}
.loginBox .loginClose:hover {
  color: var(--white);
  background-color: rgb(7, 95, 35);
  transform: rotate(180deg);
  font-size: 26px;
}
/* :::: LOG IN END :::: */

/* :::: SIGN UP START :::: */
.signupBox {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 99999999999;
  border-radius: 40%;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.6s;
}
.signupBox.signupBox_active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  transition: all ease 0.6s;
}
.signupBox .signup {
  border: 1px solid var(--black);
  width: 520px;
  height: 520px;
  background: url("../../Assets/Images/SignUp_Bg.jpg");
  color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signupBox .signup form {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(60%);
  flex-direction: column;
  display: flex;
  gap: 5px;
  position: relative;
}
.signupBox .signup form .signupEye {
  position: absolute;
  display: inline-block;
  background-color: transparent;
  color: #000;
  right: 11%;
  top: 51%;
  box-shadow: none;
  cursor: pointer;
}
.signupBox .signup form h1 {
  font-weight: normal;
  font-size: 28px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}
.signupBox .signup form label {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 10px;
}
.signupBox .signup form input {
  background: rgba(255, 255, 255, 0.5);
  height: 48px;
  line-height: 40px;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
  color: #000;
}
.signupBox .signup form input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.signupBox .signup form button {
  background: rgb(7, 95, 35);
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  border: none;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: var(--white);
}
.signupBox .signup form p {
  font-size: 16px;
  color: var(--white);
  text-align: center;
}
.signupBox .signupClose {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: rgb(7, 95, 35);
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--white);
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  transition: 0.4s;
}
.signupBox .signupClose:hover {
  color: var(--white);
  background-color: rgb(7, 95, 35);
  transform: rotate(180deg);
  font-size: 26px;
}

/* :::: SIGN UP END :::: */

/* :::: USER ACCOUNT START :::: */

.userBox {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 99999999999;
  border-radius: 40%;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.6s;
}
.userBox.userBox_active {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  transition: all ease 0.6s;
}
.userBox .user {
  border: 1px solid var(--black);
  width: 520px;
  height: 520px;
  background: url("../../Assets/Images/User_Bg.jpg");
  color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.userBox .user .options {
  display: block;
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(60%);
  flex-direction: column;
  display: flex;
  gap: 5px;
  position: relative;
}
.userBox .user .options h3 {
  margin: 0;
  padding-bottom: 26px;
  padding-top: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--white);
}
.userBox .user .options ul {
  padding: 0;
  margin: 0;
}
.userBox .user .options li {
  padding-bottom: 30px;
}
.userBox .user .options li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
}
.userBox .user .options .log_out {
  background: rgb(7, 95, 35);
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  border: none;
  margin: 10px 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  color: var(--white);
}
.userBox .userClose {
  display: inline-block;
  width: 60px;
  height: 60px;
  color: rgb(7, 95, 35);
  line-height: 60px;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: var(--white);
  border-radius: 50%;
  font-size: 26px;
  cursor: pointer;
  transition: 0.4s;
}
.userBox .userClose:hover {
  color: var(--white);
  background-color: rgb(7, 95, 35);
  transform: rotate(180deg);
  font-size: 26px;
}
/* :::: USER ACCOUNT END :::: */

/* :::: BOOK SUMMARY START :::: */

#summary {
  padding: 90px 0;
}
#summary h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  padding: 60px 0 40px 0;
  margin: 0;
}
#summary .one {
  padding-top: 30px;
  padding-bottom: 100px;
}
#summary .image {
  text-align: center;
  padding: 0;
}
#summary h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  padding: 30px 0 0 0;
  margin: 0;
}
#summary h4 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding: 20px 0 40px 0;
  margin: 0;
}

/* :::: BOOK SUMMARY END :::: */
